.header-bg {
  background-color: rgba(243, 243, 243, 0.404);
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.header-menu a {
  display: inline-block;
  color: #000;
  padding: 16px 0px;
  position: relative;
  font: 400 1.2rem/1 "Roboto";
}
.header-menu a::after {
  content: "";
  display: block;
  height: 4px;
  width: 0px;
  background: black;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.header-menu a:hover::after {
  width: 100%;
}
